.root {
  @apply sticky top-0 bg-orangeclair z-40 transition-all duration-150 h-16 md:h-20 shadow-md;
}




@media (min-width: 768px) {
  .root {
    height: 5rem; /* md:h-20 */
  }
}


.link {
  @apply inline-flex items-center leading-6 font-medium transition ease-in-out duration-75 cursor-pointer text-black rounded-md p-1;
}

.link {
  @apply inline-flex items-center leading-6 font-medium transition ease-in-out duration-75 cursor-pointer text-black rounded-md p-1;
}





.link:hover {
  @apply text-zinc-500;
}

.link:focus {
  @apply outline-none text-zinc-600 ring-2 ring-zinc-600 ring-opacity-5;
}

.logo {
  @apply cursor-pointer rounded-full transform duration-100 ease-in-out;
}




/* Cache les liens spécifiques sous 1400px */
@media (max-width: 1400px) {
  .lg\\:block {
    display: none;
  }
}

/* Style des liens dans le menu déroulant */
.dropdownLink {
  display: block;
  padding: 8px 16px;
  color: #000000;
  text-decoration: none;
}

.dropdownLink:hover {
  background-color: #f0f0f0;
}
